/** @format */

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(450px, 400px));
  text-align: center;
  grid-gap: 50px;
  justify-content: space-around;
  
}
.card-container {
  margin: 25px 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


