/** @format */

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 500px));
  text-align: center;
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.main-Button {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid red;
  background-color: ;
}

