.FreeTrialBanner{
    width: 100%;
    height: 200px;
    background-color: #d9d9d9;
}
.FreeTrialForm {
    margin-top: 2% !important;
    width: 80%;
    margin: auto;
}
.FreeTrialForm form .head{
    
}