.Trialheader{
    width: 100%;
    /* height: 10vh; */
}
.Trialheader img {
    width: 100%;
    /* height: 10vh; */
}
.TrialForm div {
    display: flex;
    justify-content: space-evenly;

}
.TrialForm div input {
    width: 350px;
    padding: 10px;
    outline: none;
    border-radius: 50px
    ;
}