/** @format */

.Trialheader {
  width: 100%;
  /* height: 10vh; */
}
.Trialheader img {
  width: 100%;
  /* height: 10vh; */
}
.TrialForm {
  margin-top: 40px;
}
.TrialForm div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.TrialForm div input {
  width: 400px;
  padding: 10px;
  outline: none;
  border-radius: 50px;
  font-size: 20px;
  padding-left: 40px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
.TrialForm button {
  text-align: center;
  background-color: #2196f3;
  width: 300px;
  padding: 10px;
  border: 1px solid #2196f3;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 30px !important;
  border-radius: 50px;
  cursor: pointer;
}

.TrialForm .special {
  justify-content: flex-start;
  margin-left: 19.3%;
}

.subsDIV {
  min-height: 50vh !important;
  background-color: #1830ac;
  position: absolute;
  width: 100% !important ;
  z-index: -1;
  margin-top: 15%;
}

.subsImages .Images {
  display: flex;
  justify-content: center;
}
.subsImages img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .TrialForm div {
    display: block;
    margin: 0;
  }
  .TrialForm div input {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .TrialForm .special {
    display: block;
    margin: auto;
  }
  
.subsImages .Images {
  display: block;
  margin: auto;
}
.subsImages .Images img {
  display: block;
  margin: auto;
}
.subsDIV{
  min-height: 140vh !important;
}
}

.BillingDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.BillingDiv input {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  width: 300px;
  padding: 10px;
  outline: none;
}
.inputDIvv{
  margin-top: 20px;
}

.BillingDiv .left {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60%;
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid #f2f2f2;
}
.BillingDiv .left .divSub {
  display: flex;
  justify-content: space-evenly;
}
.BillingDiv .left .up {
  margin: 5%;
}

.BillingDiv .left .down {
  margin: 5%;
}
.BillingDiv .left button {
  background-color: #04a96d;
  width: 100%;
  margin-top: 1%;
  padding: 5px;
  font-size: 25px;
  border: 1px solid #04a96d;
  color: #fff;
}

.BillingDiv .right {
  width: 20%;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 250px;
  text-align: center;
}

.BillingDiv .right h5 {
  font-size: 2rem;
  margin-top: 5%;
  font-weight: bold;
}

.BillingDiv .right p {
  color: blue;
  text-align: left;
  margin: 0;
  margin-top: 2%;
  margin-left: 2%;
}

.BillingDiv .right h6 {
  font-size: 1.6rem;
  margin-top: 5%;
}

.twoBtns .btn2 {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.twoBtns .btn3 {
  background-color: #358bf0;
  border: 1px solid #358bf0;
  padding: 5px;

  border-radius: 5px;
  color: white;
  margin-left: 2%;
}


@media (max-width : 768px) {
  .BillingDiv{
    display: block;
  }
  .BillingDiv .left {
    width: 90%;
    margin-left: 5%;
  }
  .BillingDiv .left .divSub {
    display: block;
  }
  .BillingDiv .right {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
  
}