/** @format */
.mainSecTwo {
  display: flex;
  margin-top: 2%;
  gap: 2rem;
  justify-content: space-between;
}
.mainSecTwo .left {
  width: 50%;
  margin-left: 7%;
  margin-top: 3%;
}
.mainSecTwo .right {
  width: 50%;
}
.mainSecTwo .right img {
  width: 100%;
}
.mainSecTwo .left .head {
  font-size: 3.5rem;
  font-weight: 800;
  margin-left: 10%;
}
.mainSecTwo .left .desc {
  width: 500px;
  word-spacing: 10px;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 10%;
  color: #b0b3b8;
}
.mainSecTwo .left .btns {
  display: flex;
  gap: 10px;
  margin-left: 10%;
  margin-top: 20px;
}

.mainSecTwo2 {
  display: flex;
  margin-top: 5%;
  gap: 2rem;
  justify-content: space-between;
}
.mainSecTwo2 .right {
  width: 50%;
  margin-top: 4%;
  margin-left: 7%;
}
.mainSecTwo2 .left {
  width: 50%;
}
.mainSecTwo2 .left img {
  width: 100%;
}
.mainSecTwo2 .right .head {
  font-size: 3rem;
  font-weight: 900;
  margin-left: 10%;
}
.mainSecTwo2 .right .desc {
  width: 500px;
  word-spacing: 10px;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 10%;
  color: #b0b3b8;
}
.mainSecTwo2 .right .btns {
  display: flex;
  gap: 10px;
  margin-left: 10%;
  margin-top: 40px;
}

.centerMainDiv {
  width: 80%;
  background-image: linear-gradient(to right, #5a57cc, #cd5bba, #fdc973);
  margin: auto;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 2%;
}
.centerMainDiv .left {
  margin-top: 7%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20%;
  width: 40%;
}
.centerMainDiv .right {
  width: 60%;
}
.centerMainDiv .right .group {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 5%;
}
.centerMainDiv .right .group div {
  width: 300px;
}
.centerMainDiv .right .group div .head {
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.centerMainDiv .right .group div .desc {
  color: #fff;
  font-size: 13px;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.newTwoSec {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5%;
}
.newTwoSec .left {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 20px;
}
.newTwoSec .left div {
  width: 600px;
  height: 200px;
  border-radius: 20px;
}
.newTwoSec .left div img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.newTwoSec .left .head {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 40px;
}
.newTwoSec .right p {
  font-weight: bold;
  margin-top: 30px;
  font-size: 3rem;
}

.centerText {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.newThreeSec {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-top: 2%;
}
.newThreeSec .main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  width: 32%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.newThreeSec .main .left {
  width: 100px;
  border-radius: 100%;
  height: 100px;
}
.newThreeSec .main .left img {
  width: 100%;
}
.newThreeSec .main .right .desc {
  font-size: 13px;
  width: 350px;
}
.newThreeSec .main .right {
  position: relative;
}
.newThreeSec .main .right .head {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: -10px;;

}
.twoSecNew {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  justify-content: space-between;
  margin-bottom: 5%;
}
.twoSecNew .left {
  width: 40%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 20px;
}
.twoSecNew .left .head {
  font-weight: bold;
  font-size: 22px;
}
.twoSecNew .left .desc {
  margin-top: 10px;
  color: #959595;
  font-size: 17px;
}
.twoSecNew .left .down {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.twoSecNew .left .down .blank {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.twoSecNew .left .down .blank img {
  width: 100%;
}
.twoSecNew .right .head {
  font-size: 3rem;
  font-weight: bold;
}
.twoSecNew .right .main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.twoSecNew .right .main .blank {
  width: 300px;
  height: 100px;
  border-radius: 20px;
}
.twoSecNew .right .main .blank img {
  width: 100%;
  height: 100%;
}
.twoSecNew .right .main div .upper {
  color: blue;
  font-size: 15px;
}
.twoSecNew .right .main div .down {
  color: #959595;
  margin-top: 20px;
  font-size: 15px;
}

.bannerIm {
  width: 100%;
  height: 200px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 20px;
  background-image: linear-gradient(to right, #5a57cc, #cd5bba, #fdc973);
}
.bannerIm .head {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.NewFooter {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  position: relative;
}
.NewFooter div ul li {
  list-style-type: none;
  margin-top: 5px;
}
.NewFooter div .head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.allNewCourse {
  background-image: url("../../images/courses1.png");
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 0px, rgba(0, 0, 0, 0.23) 0px 3px 0px;
}

.allNewCourse .head {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 8%;
  padding-left: 7%;
}
.allNewCourse button {
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  border-radius: 50px;
  background-image: linear-gradient(#e8edf3, #5a88cd);
  border: 1px solid #4378c7;
  margin-top: 1%;
  margin-left: 9%;
}
.courseBanner {
  background-image: linear-gradient(
    to right,
    #6d55cb,
    #cb65b0,
    #dfb177,
    #6456cd
  );
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.courseBanner p {
  color: #fff;
  font-size: 26px;
  text-shadow: 1px 1px #e8edf3;
  margin-top: 5px;
}
.courseBanner button {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  color: black;
  border-radius: 50px;
  width: 200px;
}
.centerBtn {
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #426fec;
  border: 1px solid #426fec;
  color: #fff;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
}
.courseThreeSec {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  text-align: center;
  background-color: #e3e3e3;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
}
.courseThreeSec div img {
  width: 150px;
  position: relative;
}
.courseThreeSec div p {
  font-size: 20px;
  margin-top: 10px;
}
.courseFiveSec {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.courseFiveSec select {
  height: 40px;
  font-size: 23px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-top: 10px;
  width: 200px;
  padding-left: 20px;
}
.courseFiveSec p {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}
.courseFiveSec button {
  height: 40px;
  font-size: 23px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-top: 10px;
  width: 200px;
}
.courseCarousel {
  background-image: linear-gradient(#05507c, #b7ccd9);
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  max-height: 700px;
  overflow-y: scroll;
}
.courseCarousel .mainDiv {
  min-height: 505px;
  background-color: #fff;
  position: relative;
  margin-top: 20px !important; 
}
.courseCarousel .mainDiv img{
  margin-top: 0;
}
.courseCarousel .mainDiv .btnDiv{
  display: flex;
  gap: 10px;
  position: absolute ;
  bottom: 10px;
  width: 100%;
  justify-content: space-evenly;
}
.courseCarousel .mainDiv .btnDiv button{
  width: 45%;
  padding: 10px;
  font-size: 20px;

}
.courseCarousel img {
  margin-top: 30px;
}
.courseViewd {
  background-image: linear-gradient(to right, #ffd17d, #d778b6, #6566d1);
  display: flex;
  margin-bottom: 3%;
  padding-bottom: 3%;
  justify-content: space-evenly;
  gap: 20px;
}
.courseViewd .left div {
  width: 600px;
  background-color: #fff;
  margin-top: 50px;
  border-radius: 20px;
  height: 150px;
  text-align: center;
}
.courseViewd .left p {
  padding-top: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}
.courseViewd .right div {
  text-align: center;
  width: 350px;
  height: 350px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  margin-top: 50%;
}
.courseViewd .right div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
}
.registerForm {
  width: 90%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 3%;
  background-image: linear-gradient(#b7ccd9, #05507c);
  margin-bottom: 3%;
}
 ::-webkit-calendar-picker-indicator {
  background-image: url("../../images/calendar\ 1.png");
}
.registerForm .head {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}
.registerForm input {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  padding: 10px;
  font-size: 26px;
  color: #fff;
  background-color: #959595;
  border: 1px solid #959595;
  outline: none;
}
.registerForm input::placeholder {
  color: #fff;
}
.registerForm .two {
  display: flex;
  gap: 10px;
  margin-left: 5%;
  margin-top: 20px;
}
.registerForm .two select {
  width: 46%;
  font-size: 18px;
  color: #fff;
  background-color: #959595;
  border: 1px solid #959595;
  outline: none;
  padding: 0px !important;
  /* height: 40px; */
}
.registerForm .two input {
  margin-top: 0;
  margin-left: 0;
  width: 48%;
  font-size: 22px;
  color: #fff;
  background-color: #959595;
  border: 1px solid #959595;
  outline: none;
}
.registerForm button {
  width: 200px;
  background-color: #959595;
  padding: 10px;
  border: 1px solid #959595;
  display: block;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px !important;
  margin: auto;
}

.NewCourse {
  height: 100%;
  width: 300px;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#f3c485, #c292aa, #8b69c9);
  overflow-x: hidden;
  padding-top: 20px;
}
.NewCourse p {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 900;
}
.NewCourseHeader {
  margin-left: 300px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  height: 200px;
  display: flex;
  justify-content: end;
}
.NewCourseHeader img {
  width: 50px;
  height: 50px;
  margin-top: 3%;
  margin-right: 10px;
}
.NewCourseHeader div {
  width: 180px;
  height: 180px;
  background-color: #0085ff;
  border-radius: 100%;
}
.NewCourseThree {
  margin-left: 310px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.goBackBtn{
  margin-left: 310px;
  margin-top: 10px;
}
.goBackBtn button{
  width: 200px;
  padding: 10px;
  position: relative;
  background-color: #21315e;
  border: 1px solid #21315e;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
}
.NewCourseThree .main {
  text-align: center;
  align-items: center;
  background-image: url('../../images/AA\ Beg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 360px;
  position: relative;
}

.specialDiv {
  background-color: transparent;
  position: absolute;
  margin-left: 100%;
  width: 360px;
  height: 240px;
  padding-top: 30px;
  z-index: 9999;
  top: 80px;
}
.specialDiv .bigOne {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 2px;
  width: 90%;
  margin-left: 5%;
  height: 50px;
}

.specialDiv .bigOne p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.specialDiv .bigOne .last {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}
.specialDiv .bigOne .last .fa-heart {
  font-size: 1.2rem;
  margin-top: 6px;
  color: transparent;
}
.specialDiv .bigOne .last img {
  opacity: 0;
}

.NewCourseThree .main .list {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px rgb(179, 178, 178);
  cursor: pointer;
}

.NewCourseThree .hoverElement button {
  width: 100%;
  font-size: 1.6rem;
  padding: 10px;
  margin-top: 3px;
  border: none;
  font-weight: bold;
  background-color: #0085ff;
  color: #fff;
  border: 1px solid #0085ff;
  cursor: pointer;
}
.NewCourseThree .lastHover {
  display: none;
  background-color: #9e9e9e;
  position: absolute;
  width: 400px;
  background-color: #9e9e9e;
  height: 220px;
  padding: 20px;
  margin-top: 0;
  z-index: 9999;
  top: 80px;
  margin-left: auto;
}

.NewCourseThree .main .list:focus + .specialDiv {
  background-color: #9e9e9e;
}
.NewCourseThree .main .list:focus + .specialDiv .bigOne {
  background-color: #0085ff;
  border: 1px solid #0085ff;
}
.NewCourseThree .main .list:focus + .specialDiv .bigOne .last img {
  opacity: 1;
}
.NewCourseThree .main .list:focus + .specialDiv .bigOne .last .fa-heart {
  color: red;
}

.Cart {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  padding-bottom: 20px;
}
.Cart .left p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
}
.Cart .right {
  display: flex;
  gap: 20px;
}
.Cart .right img {
  width: 50px;
  height: 50px;
  margin-top: 10%;
  margin-right: 10px;
}

.Cart .right div {
  width: 100px;
  height: 100px;
  background-color: #0085ff;
  border-radius: 100%;
}

.bigCart {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #faf4f4;
  border: 3px solid #3fa1fc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bigCart .upper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 3%;
}
.bigCart .upper .left {
  width: 60%;
  padding: 20px;
  background-color: #ebebeb;
}
.bigCart .upper .right {
  width: 20%;
}
.bigCart .upper .right .up {
  text-align: right;
  color: #5d5c5c;
  text-decoration: line-through;
}
.bigCart .upper .right .sub {
  display: flex;
  justify-content: space-between;
}
.bigCart .upper .left .title {
  font-size: 20px;
}
.bigCart .upper .right button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: 1px solid #0085ff;
  background-color: #0085ff;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
.bigCart .upper .left .box {
  border: 1px solid black;
  margin-top: 2%;
  display: flex;
  gap: 10px;
}
.bigCart .coupon{
  margin-top: 20px;
}
.bigCart .coupon .head{
  font-size: 25px;
  font-weight: 500;
}
.bigCart .coupon .tww{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 30%;
}
.bigCart .coupon .tww2{
  display: flex;
}
.bigCart .coupon .tww2 input{
  width: 60%;
  height: 40px;
  outline: none;
  margin-top: 20px;
}

.bigCart .coupon .tww2 button{
  font-size: 20px;
width: 40%;
padding: 0px;
}

.bigCart .upper .left .box .next {
  font-size: 1.4rem;
  margin-top: 2%;
}
.bigCart .upper .left .box .remove {
  text-align: right;
  margin-top: 5%;
  color: red;
}
.bigCart .upper .left .box .price {
  margin-left: 8%;
  margin-top: 3%;
  text-align: right;
}
.bigCart .upper .left .box .price .real {
  color: #0085ff;
  font-size: 2rem;
  font-weight: bold;
}
.bigCart .upper .left .box .price .fake {
  color: #5d5c5c;
  text-decoration: line-through;
}
.bigCart .down button {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 10px;
  color: #fff;
  background-color: #358bf0;
  font-size: 25px;
  border: 1px solid #358bf0;
  border-radius: 10px;
}

.CourseDescrip {
  background-color: #fff;
  z-index: 9999;
  display: flex;
  background-color: #faf4f4;
  justify-content: space-between;
}

.CourseDescrip .courseLevel {
  display: flex;
  background-color: #0085ff;
  width: 300px;
  gap: 10px;
  padding: 10px;
  margin-top: 0px;
  justify-content: center;
}
.CourseDescrip .courseLevel p {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.CourseDescrip .courseLevel i {
  font-size: 2.2rem;
  margin-top: 5px;
  color: #fff;
}
.CourseDescrip .left {
  width: 50%;
  padding-bottom: 20px;
}
.CourseDescrip .left .about {
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  margin-top: 20px !important;
  margin: auto;
  background-color: #ffefef;
  display: block;
}
.CourseDescrip .left .about .head {
  font-size: 1.4rem;
  font-weight: 400;
}
.CourseDescrip .left .about .desc {
  padding: 10px;
}
.CourseDescrip .right {
  width: 50%;
  border: 5px solid #b6b6b6;
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.CourseDescrip .right .CourseName {
  font-size: 1.7rem;
  padding: 10px;
  background-color: #0085ff;
  color: #ffff;
  margin-bottom: 20px;
}
.CourseDescrip .right video {
  width: 80%;
  display: block;
  margin: auto;
}
.CourseDescrip .right .price { 
  display  : flex ;
  gap: 20px;
  margin-left: 10%;
  margin-top: 2%;
  text-align: center;
}
.CourseDescrip .right .price .actualP{
  font-size: 2.4rem;
  font-weight: bold;
}
.CourseDescrip .right .price .fakeP{
  font-size: 1.6rem;
  color: #c2c2c2;
  margin-top: 5px;
  text-decoration: line-through;
}
.CourseDescrip .right .price .off{
  font-size: 1.6rem;
  color: #c2c2c2;
  margin-top: 5px;
}
.CourseDescrip .right .btns{
  margin-bottom: 20px;
}
.CourseDescrip .right .btns button{
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 0px;
  font-weight: 900;
}
.CourseDescrip .right .btns  .first{
  background-color: transparent;
}
.CourseDescrip .right .btns  .second{
  background-color: #3fa0fc;
  border: 1px solid #3fa0fc;
  color: #fff;
}

.CourseDescrip .right .includes{
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
}
.CourseDescrip .right .includes .head{
  font-size: 1.4rem;
  font-weight: 400;
}
.CourseDescrip .right .includes .desc{
 padding: 10px;
}

.frequentlyBought {
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}
.frequentlyBought .left {
  width: 50%;
  padding-bottom: 20px; 
  padding: 20px;
}
.frequentlyBought .left .tog { 
  border: 1px solid black;
  padding : 10px ;
  background-color: #ffefef;
  height: 100%;
}

.frequentlyBought .left .tog .bigHead {
   font-size: 1.4rem;
   font-weight: 600;
}
.frequentlyBought .left .tog  .courseNN{
  width: 80%;
  margin-left: 10%;
  border: 1px solid #c2c2c2;
  margin-top: 20px;
}

.frequentlyBought .left .tog  .courseNN .lastD{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-top: 2%;
  padding-bottom: 20px;
}

.frequentlyBought .left .tog  .courseNN .lastD .total{
  display: flex;
  gap: 10px;
  vertical-align: auto;
  align-items: center;
}
.frequentlyBought .left .tog  .courseNN .lastD .btn button{
  padding: 10px;
  background-color: #ff9900;
  color:#000 ; 
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #ff9900;
}
.frequentlyBought .left .tog  .courseNN .lastD .total .TotalP{
  font-size: 20px;
  margin-left: 10px;
}
.frequentlyBought .left .tog  .courseNN .lastD .total .price {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px #c2c2c2;
}
.frequentlyBought .left .tog  .courseNN .lastD .total .fakep{
  text-decoration: line-through;
}

.frequentlyBought .left .tog .two-sec{
  display: flex;
  gap : 20px;
  padding: 10px;
}
.frequentlyBought .left .tog .two-sec .leftUnder { 
  width: 40%;
}
.frequentlyBought .left .tog .two-sec .leftUnder img{
  width : 100% ;
}
.frequentlyBought .left .tog .rightUnder .head { 
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 2px 2px #c2c2c2;
}
.frequentlyBought .left .tog .rightUnder .prices{
  display: flex;
  gap: 20px;
  width: 80%;
  margin-top: 10px;
}
.frequentlyBought .left .tog .rightUnder .prices .realprice{
  font-size: 2rem;
  text-shadow: 2px 2px #c2c2c2;
  font-weight: 400;
}
.frequentlyBought .left .tog .rightUnder .prices .fakeP{
  font-size: 20px;
  color: #a9afb8;
  text-shadow: 1px 1px #c2c2c2;
  text-decoration: line-through;
  margin-top: 5px;
  font-weight: 400;
}

.frequentlyBought .left .tog  .trending{
  border: 1px solid black;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  margin-top: 10px;
}
.frequentlyBought .left .tog  .trending div {
  background-color: #d9d9d9;
  width: 200px;
  height: 200px;
  min-width: 190px;
  max-width: 301px;
  background-color: #d9d9d9;
  border: 1px solid black;
  margin: 10px;
  position: relative;
}
.frequentlyBought .left .tog  .trending div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.frequentlyBought .right {
  width: 50%;
  border: 5px solid #b6b6b6;
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.frequentlyBought .right .CourseName {
  font-size: 1.7rem;
  padding: 10px;
  background-color: #0085ff;
  color: #ffff;
  margin-bottom: 20px;
}
.frequentlyBought .right video {
  width: 80%;
  display: block;
  margin: auto;
}
.frequentlyBought .right .price { 
  display  : flex ;
  gap: 20px;
  margin-left: 10%;
  margin-top: 2%;
  text-align: center;
}
.frequentlyBought .right .price .actualP{
  font-size: 2.4rem;
  font-weight: bold;
}
.frequentlyBought .right .price .fakeP{
  font-size: 1.6rem;
  color: #c2c2c2;
  margin-top: 5px;
  text-decoration: line-through;
}
.frequentlyBought .right .price .off{
  font-size: 1.6rem;
  color: #c2c2c2;
  margin-top: 5px;
}
.frequentlyBought .right .btns{
  margin-bottom: 20px;
}
.frequentlyBought .right .btns button{
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 0px;
  font-weight: 900;
}
.frequentlyBought .right .btns  .first{
  background-color: #ff9900;
  border : 1px solid #ff9900 ;
  color: #fff;
}
.frequentlyBought .right .btns  .second{
  background-color: #3fa0fc;
  border: 1px solid #3fa0fc;
  color: #fff;
}



@media (max-width: 768px) {
  .mainSecTwo {
    display: block;
  }
  .mainSecTwo .left {
    width: 100%;
    margin-left: 0;
  }
  .mainSecTwo .right {
    width: 100%;
    margin-top: 20px;
  }
  .mainSecTwo .left .desc {
    width: 90% !important;
  }
  .mainSecTwo2 {
    display: block;
  }
  .mainSecTwo2 .right {
    width: 100%;
    margin-left: 0%;
  }
  .mainSecTwo2 .left {
    width: 100%;
  }
  .mainSecTwo2 .right .desc {
    width: 90% !important;
  }
  .centerMainDiv {
    margin-top: 20px;
    width: 100%;
    display: block;
    border-radius: 0px;
  }
  .centerMainDiv .right {
    width: 100%;
    margin-left: 5%;
  }
  .newTwoSec {
    display: block;
  }
  .newTwoSec .left div {
    width: 100%;
  }

  .newThreeSec {
    display: block;
  }
  .newThreeSec .main {
    width: 90%;
    margin-top: 20px;
    margin: auto;
  }
  .twoSecNew {
    display: block;
  }
  .twoSecNew .left {
    width: 100%;
  }
  .newBnn {
    height: 80px !important;
    width: 200px !important;
    border-radius: 20px !important;
  }
  .NewFooter {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .NewFooter div .head {
    margin-top: 20px;
  }
  .specialDiv {
    position: absolute;
    bottom: -30px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  .allNewCourse {
    height: 400px;
    background-position: center;
  }
  .centerBtn {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .courseThreeSec {
    display: block;
  }
  .courseThreeSec div {
    margin-top: 20px;
  }
  .courseFiveSec {
    display: block;
    text-align: center;
    margin-bottom: 2%;
  }
  .courseCarousel {
    display: block;
  }
  .courseCarousel img {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .courseViewd {
    display: block;
    padding-top: 2%;
  }
  .courseViewd .left div {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 100px;
  }
  .courseViewd .left p {
    padding-top: 20px;
  }
  .courseViewd .right div {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .CourseDescrip {
    display: block;
  }
  .CourseDescrip .left{
    width: 100%;
  }
  .NewCourse{
    display: none;
  }
  .NewCourseHeader{
    margin-left: 0;
    height: 120px;
  }
  .NewCourseHeader div{
    width: 100px;
    height: 100px;
  }
  .NewCourseThree{
    margin-left: 0;
    grid-template-columns: auto;
  }
  .NewCourseThree .main{
    width: 200px;
    height: 200px;
  }
  .newPP{
    font-size: 27px !important;
  }
  .specialDiv{
    margin-left: 200px;
    margin-top: 0;
    top: 0;
    width: 280px;
    height: 200px;
    padding-top: 15px;
  }
  .specialDiv .bigOne {
    width: 98%;
    margin-left: 2%;
  }
  .CourseDescrip .right{
    width: 100%;
    box-shadow:none;
    margin-left: 0;
  }
  .frequentlyBought{
    display: block;
  }
  .frequentlyBought .left{
    width: 100%;
  }
  .frequentlyBought .right{
    width: 100%;
    margin-left: 0;
  }
  .bigCart .upper{
    display: block;
  }
  .bigCart .upper .left{
    width: 100%;
    display: block;
  }
  .bigCart .upper .left .box {
    display: block;
  }
  .bigCart .upper .left .next {
    text-align: left;
    margin-left: 20px;
  }
  .bigCart .upper .left .box .remove{
    text-align: left;
    margin-left: 20px;
  }
  .bigCart .upper .left .box .price {
    text-align: left;
    margin-left: 20px;
  }
  .bigCart .upper .right{
    width: 90%;
    margin-left: 5%;
  }
  .courseCarousel .mainDiv {
    width: 90%;
    margin-left: 5%;
  }
}
